# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build outputs
dist/
dist-ssr/
build/
*.local

# Environment variables
.env
.env.*
!.env.example

# Temporary and Cache files
.cache/
.parcel-cache/
.eslintcache
*.tmp
*.temp
data/*.tmp
data/prospects.json
data/

# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE & Editor folders
.vscode/
.idea/
*.swp
*.swo

# Logs
logs
*.log

*.sql
leads.md
script.md
template.xml